.label-grid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 820px; /* Set the container width */
  gap: 16px; /* Optional: adds spacing between the cards */
}

.invest-question{
  font-family: 'Instrument Sans',serif;
  font-size: 18px;
  font-weight: bold;
  margin:0 auto;
  margin-top: 40px;
}

.page21-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}