@import url('https://fonts.googleapis.com/css2?family=Judson:wght@400;700&display=swap');

body {
    font-family: 'Judson', serif;
    padding: 0;
    margin: 0;
}

.homePageLayout {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .mainPage {

        display: flex;
        flex-direction: column;
        justify-content: center;
        margin:auto;

        .headerContainer {
            width: 1060px;
            margin-bottom: 45px;
    
            .header {
                display: flex;
                justify-content: space-between;
                align-items: center;
    
                h1 {
                    font-size: 48px;
                    margin: 0;
                }
    
                h2 {
                    font-size: 32px;
                    margin: 0;
                }
    
            }
    
            .subHeader {
                display: flex;
                justify-content: space-between;
                align-items: center;
    
                h3 {
                    font-size: 32px;
                    margin: 0;
                }
            }
        }
    
        .myProfile {
            width: 1060px;
            margin-bottom: 30px;
        }
    
        .recommendation {
            width: 1060px;
            height: 560px;
            border: 1px solid rgba(0, 0, 0, 0.2);
            border-radius: 18px;
            background-color: white;
        }
    
        .aiAssistantBar {
            width: 1060px;
        }
    }

    .sideWindowLayout {
        width: 500px;
        height: 100%;
        background-color: white;
        border-top-left-radius: 40px;
        border-bottom-left-radius: 40px;
    }
}

@media screen and (max-width:1630px) {

    .homePageLayout {
        width: 100%;
    
        .mainPage {
    
            .headerContainer {
                width: 800px;
                margin-bottom: 25px;
        
                .header {
        
                    h1 {
                        font-size: 48px;
                    }
        
                    h2 {
                        font-size: 32px;
                    }
        
                }
        
                .subHeader {
        
                    h3 {
                        font-size: 32px;
                    }
                }
            }
        
            .myProfile {
                width: 800px;
                margin-bottom: 25px;
            }
        
            .recommendation {
                width: 800px;
                height: 560px;
            }
        }
    
        .sideWindowLayout {
            width: 400px;
        }
    }

}
