@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');

.myProfileContainer {

    border-radius: 18px;
    border: 1px solid rgba(0, 0, 0, 0.2);

    .header {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        .myProfileLogo {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 20px;
        }

        h1 {
            font-family: 'Instrument Sans', serif;
            font-size: 24px;
            color: #94B06E;
            font-weight: 700;
            margin: 0;
        }
    }

    .myProfileDetailBoard {
        display: flex;
        justify-content: space-between;

        .myProfileDetailCard {
            width: 308px;
            height: 300px;
            border: 1px solid rgba(0, 0, 0, 0.2);
            border-radius: 18px;
            box-sizing: border-box;
            padding: 20px;

            h1 {
                text-align: center;
                font-family: 'Instrument Sans', serif;
                font-size: 22px;
                color: #94B06E;
                font-weight: 700;
                margin: 0px 0px 26px;
            }

            .myProfileRatingBox {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                margin-bottom: 15px;

                h4 {
                    font-family: 'Instrument Sans', serif;
                    font-size: 18px;
                    color: #111111;
                    font-weight: 400;
                    margin: 0;
                    width: 80px;
                }
            }
        }

        .myProfileDetailCard2 {
            border: none;
            box-sizing: border-box;
            padding: 0;

            .myProfileAllergyCard {
                width: 308px;
                height: 192px;
                border: 1px solid rgba(0, 0, 0, 0.2);
                border-radius: 18px;
                box-sizing: border-box;
                padding: 20px;
            }
        }

        .myProfileEditButton {
            width: 308px;
            height: 72px;
            border: 1px solid rgba(0, 0, 0, 0.2);
            border-radius: 18px;
            background-color: #F9FBF8;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 36px;

            h1 {
                color: #94B06E;
                font-family: 'Instrument Sans', serif;
                font-size: 24px;
                font-weight: 700;
                margin: 0 0 0 10px;
            }
        }

        .myProfileEditButton:hover {
            cursor: pointer;
        }
    }
}