@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Judson:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body {
  padding: 0;
  margin: 0;
}

.button-question-container{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 20px;
}

.planner-page-layout{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

/* .planner-container-scrollable{
  flex:1;
} */

.big-title{
  margin-top: 40px;
  font-weight: bold;
  font-size: 30px;
}

.add-ingredient-container{
  display: flex;
  flex-direction: row;
  gap:20px;
  width:900px;
  margin-top: 15px;
  flex-wrap: wrap;
}

.planner-container{
  margin-left: 35px;
  margin-right: 35px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* gap: 20px; */
  overflow-y: auto;
  flex:1;
  height: 100vh;

}

.planner-container-title p{
  margin: 0;
  font-family: 'Instrument Sans', serif;
}

.planner-container-title{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 20px;
}

.planner-container-title-big{
  font-weight: bold;
  font-size: 16px;
}

.planner-container-title-small{
  font-size: 14px;
  line-height: 20px;
}

.planner-container-image{
  width: 55px;
}

.planner-sideWindowLayout{
  width: 500px;
  height: 100%;
  background-color: white;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
}  

.generate-button{
  margin-top: 8px;
  width: 657px;
  height: 45px;
  background-color:#94B06E;
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}

.generate-button:hover{
  background-color: #8ea868;
}

.generate-button:active{
  background-color: #87a063;
}


@media (max-width: 1630px) {
  .planner-sideWindowLayout{
    width: 400px;
  } 
}

@media (max-width: 1670px) {
  .add-ingredient-container{
    display: flex;
    flex-direction: row;
    gap:20px;
    width:640px;
    margin-top: 15px;
    flex-wrap: wrap;
  }
}
